@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;

    background-image: url('/Menu/src/images/NexRevolutionRP.png');
    background-size: contain; /* Ajusta a imagem para caber completamente dentro da área do elemento */
    background-size: cover; /* Para cobrir todo o espaço */
    background-attachment: fixed; /* Para manter a imagem fixa ao rolar */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Posiciona a imagem no centro */
}

main {
    padding: 20px;
    position: relative;
    z-index: 1; 
    padding-left: calc(50px + 0px);
}

main {
    flex: 1; /* Para ocupar todo o espaço disponível */
    padding: 20px;
}

#sidebar, main{
    position: relative; /* Para garantir que os elementos fiquem na frente da imagem de fundo */
    z-index: 0; /* Garante que os elementos estejam na frente da imagem de fundo */
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: sticky; 
    top: 0;
    transition: all .5s;
    min-width: 82px;
    z-index: 1;
}

#sidebar-content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user-nrrp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#user-info span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #e54646;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #f54e4e;
    transition: 1s;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #f7e3e3;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #abaeb4;
    padding: 12px;
}

#logout-btn {
    color: #0a0a0a;
}

#logout-btn {
    border: none;
    text-decoration: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}



.open-sidebar #open-btn-icon {
    transform: rotate(180deg);
}

.item-description {
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

 #sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/*SECTIONS*/

/*HOME*/

#home .presentation-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .presentation-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#home .presentation-container p {
    font-size: 18px;
    margin-bottom: 15px;
}

#home .presentation-container ul {
    margin-bottom: 15px;
}

#home .presentation-container ul li {
    font-size: 16px;
    list-style-type: disc;
    margin-left: 20px;
}

#home .presentation-container p:last-child {
    margin-bottom: 0;
}


#home .recurses-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .recurses-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .comunidade-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .comunidade-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .suporte-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .suporte-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .desenvolvimento-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .desenvolvimento-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .ajuda-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .ajuda-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .parcerias-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .parcerias-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home .desfecho-container {
    background-color: rgba(0, 0, 0, 0.6); /* Preto 50% transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#home .desfecho-container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Estilos para a barra de rolagem */
/* Estilos para navegadores baseados em WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #fc0000; /* cor da barra de rolagem */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000; /* cor da barra de rolagem quando hover */
}
